<!DOCTYPE html>
<html lang="en">
<%- include('../_head.ejs') %>
<%- include('../_style.ejs') %>
<%- include('../_nav.ejs') %>

<body>
<div class="container">
    <h1 class="mb-4 text-white">Hello,&nbsp;<%=login_nickname%>!</h1>

</div>
<%- include('../_footer.ejs') %>
</body>
</html>