<!DOCTYPE html>
<html lang="en">
<%- include('../_head.ejs') %>
<%- include('../_style.ejs') %>
<%- include('../_nav.ejs') %>

<body>
<div class="container">
    <h1 class="mb-4 text-white">Login</h1>
    <h3 class="mb-3 text-white"><%=msg%></h3>

    <form action="#" method="POST">
        <% if(!confirmed){%>
        <div class="form-group">
            <label for="email" class="text-white">Email</label>
            <input type="email" class="form-control" id="email" name="email" required >
        </div>
            <br/>
        <button type="submit" class="btn btn-primary">Confirm</button>
        <%}else if(exist){%>
        <div class="form-group">
            <input type="hidden" name="email" value="<%=email%>">
            <label for="password" class="text-white">Password</label>
            <input type="password" class="form-control" id="password" name="password" required>
        </div>
                <br/>
        <button type="submit" class="btn btn-primary">Login</button>
        <% }%>
    </form>

    <% if(confirmed&&!exist){%>
    <form action="/login/reg" method="POST">
        <div class="form-group">
            <input type="hidden" name="email" value="<%=email%>">
            <label for="code" class="text-white">A code has been sent to your email:</label>
            <input type="number" class="form-control" id="code" name="code" required>
        </div>
        <br/>
        <div class="form-group">
            <label for="password" class="text-white">Set your password</label>
            <input type="password" class="form-control" id="password" name="password" required>
        </div>
        <div class="form-group">
            <label for="name" class="text-white">Set your nickname</label>
            <input type="text" class="form-control" id="name" name="name" required>
        </div>
        <br/>
        <button type="submit" class="btn btn-primary">Register</button>
    </form>
    <%}%>
</div>
</body>
</html>